<ul class="subscriber-list">
  {{#each this.subscribers as |subscriber|}}
    <li class="subscriber">
      <div class="subscriber-data">
        <div class="name">
          {{subscriber.firstName}} {{subscriber.lastName}}
        </div>
        <div class="gender">
          {{t (concat "subscriberList.gender." subscriber.gender)}}
        </div>
        <div class="email">
          {{subscriber.email}}
        </div>
        <div class="state">
          {{t (concat "subscriberList.state." subscriber.state)}}
        </div>
      </div>

      <button>

      </button>
    </li>
  {{/each}}
</ul>